.top-box{
  height: 400px;
  width: 100%;
}

.img-fluid{
  width: 80%;
  height: 10%;
}
.top-header{
  text-align: center;
  margin: 60px auto 30px auto;
  font-weight: 700;
  color: #373a40;
  font-size: 60px;
}
.block{
  margin: 20px auto 20px auto;
}
.middle-paragraph{
  margin: 25px auto 25px auto;
  width: 608px;
  font-size: 1.125rem;
  font-family: "Bitter";
  font-weight: 400;
  line-height: 1.875; 
}

.middle-text-h3{
  margin: 25px auto 25px auto;
  width: 608px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600; 
}
.middle-text{
  width: 70%;
  margin: 50px auto 50px auto;
}
.paragraph-icons{
  width: 200px;
  height: 200px;
}

/* Navbar and Search box code */
.nav{
  padding-top: 10px;
  font-family: "Work Sans", sans-serif; 
  font-size: 1rem;
}
.nav-link{
  color: black;
}
