.top-box{
  height: 400px;
  width: 100%;
}

.library-img{
  width: 70%;
  height: 10%;
  border-radius: 50px;
}
.top-header{
  text-align: center;
  margin: 60px auto 30px auto;
  font-weight: 700;
  color: #373a40;
  font-size: 60px;
}
.p-box{
  margin: 20px auto 20px auto;
}
.middle-paragraph{
  margin: 25px auto 25px auto;
  width: 608px;
  font-size: 1.125rem;
  font-family: "Bitter";
  font-weight: 400;
  line-height: 1.875; 
}

.middle-text-h3{
  margin: 25px auto 25px auto;
  width: 608px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600; 
}
.middle-text{
  width: 70%;
  margin: 50px auto 50px auto;
}
.paragraph-icons{
  width: 200px;
  height: 200px;
}

/* Navbar and Search box code */
.nav{
  padding-top: 10px;
  font-family: "Work Sans", sans-serif; 
  font-size: 1rem;
}
.nav-link{
  color: black;
}

/* blog */
.blog-page{
  max-width: 1280px;
  margin: 50px auto;
}
.article{
  padding: 32px 32px 32px 32px;
  width: 362.65px;
  height: auto;
}
.article:hover{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
